.informationLine {
  min-width: 380px;
  margin: 0 15px;
  height: 600px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.informationLine_contentBox {
  position: relative;
  margin-left: 20px;
}

.informationLine_content {
  display: none;
  
}

.informationLine_content--active {
  display: block;
  position: relative;
  
}

.informationLine_btn-nextContainer{
  position: absolute;
  width: 100%;
  top: 48%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  
  
}

.informationLine_btn-next {
  cursor: pointer;
  background-color: #f8f6f9;
  width: 55px;
  height: 53px;
  font-size: 23px;
  font-weight: 400;
  z-index: 1;
  opacity: 0; 
  transition: opacity 0.3s ease; 
  color: black;
}

.informationLine_box-btn {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  z-index: 1;
  }
  
.informationLine__btn {
  background-color: rgba(255, 255, 255, 0.56); 
  margin-right: 12px;
  padding: 4px 4px;
  border-radius: 100%; 
  border: none;
  cursor: pointer;
}

.informationLine__btn--active {
  background-color: #b21ec3; 
}

.informationLine_contentBox:hover .informationLine_btn-next {
  opacity: 1; 
}

.informationLine_btn-next:hover {
  background-color: #8623bb;
  color: #fff;
}

  
.informationLine__btn--active {
  color: #8623bb; 
}


.informationLine_img {
  cursor: pointer;
  width: 100% ;
  height: 600px;
  filter: brightness(77%);
  border-radius: 3px;
  box-shadow: 0px 0 7px #1D2124,
  0 0 2px #1D2124,
  0 0 5px #1D2124,
  0 0 7px #1D2124;
}



#content-4 .informationLine-text{
  max-width: 415px;
  bottom: 34%;
  left: 90%;
  transform:translateX(-90%);
  
}

#content-2 .informationLine-text{
  max-width: 438px;
  bottom: 5%;
  left: 10%;
  transform:translateX(-10%);
}

#content-4 .informationLine-text::before{
  /* margin: 9px 0 0 -50%;
  width: 40px;
  height: 60px; */
  background-image: none;
}

.informationLine-text {
  cursor: pointer;
  max-width: 600px;
  position: absolute;
  bottom: 16%;
  left: 6%; 
  -webkit-text-stroke: 1.3px rgba(0, 0, 0, 0.362); 
  transition: color 0.4s ease; 
  color: #ffff
}

.informationLine-text::before{
  /* content: '';
  position: absolute;
  margin: 16px 0 0 -55%;
  width: 20px;
  height: 60px;
  background-image: url('../image/Снимок\ экрана\ 2024-10-16\ 193306-Photoroom.png');
  background-size: contain;
  background-repeat: no-repeat; */
}

/* Эффект наведения на текст */
.informationLine-text:hover {
  color: #8623bb; 
}

/* Заголовок контента */
.informationLine_title {
  font-size: 33px;
  padding-bottom: 2px;
}

/* Описание контента */
.informationLine_description {
  padding-left: 2px;
  font-size: 22px;
  font-weight: 700;
}
  
.informationLine_content--links{
  display: none;
}