@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url(headerStyle.css);
@import url(InfoLine.css);
@import url(modalWindow.css);
@import url(header__modal.css);
@import url(info_line-news_block.css);
@import url(media.css);
@import url(main.css);


body{
    min-width: 378px;
    max-width: 1760px;
    font-size: 16px;
    font-family: 'Nunito' ,serif; 
    background-color:#ffffff;
    color: #000000;
       
}

